<% include ./partials/header.ejs%>

<div class="w-full h-screen flex items-center justify-center">
  <form
    action="/createpost"
    method="post"
    enctype="multipart/form-data"
    class="flex flex-col items-center justify-center px-20 py-16 bg-gray-500 w-1/2 gap-4"
  >
    <h2 class="font-bold text-2xl ">Fill details</h2>
    <input type="file" name="postimage" />
    <input
      class="w-full py-2 px-2 mb-4"
      placeholder="Tile of Image"
      type="text"
      name="title"
    />
    <textarea
      class="w-full py-2 px-2 resize-none"
      type="text"
      name="description"
      placeholder="Description of Image"
    ></textarea>
    <input
      class="w-full py-2 bg-red-500 rounded cursor-pointer hover:bg-red-600 transiton duration-200"
      type="submit"
      value="submit"
    />
  </form>
</div>

<% include ./partials/footer.ejs%>
